[Unit]
Description=Flexget Daemon
After=network-online.target

[Service]
Type=simple
User={{BT_USER}}
Group={{BT_USER}}
UMask=000

WorkingDirectory=/home/{{BT_USER}}/.flexget
ExecStart=/usr/local/bin/flexget daemon start
ExecStop=/usr/local/bin/flexget daemon stop
ExecReload=/usr/local/bin/flexget daemon reload

Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
