[Unit]
Description=Deluge Bittorrent Client Web Interface
Documentation=man:deluge-web
After=network-online.target deluged.service
Wants=deluged.service
[Service]
Type=simple
User={{QB_USER}}
UMask=007
ExecStart=/usr/bin/deluge-web -p 8112
ExecStop=/usr/bin/pkill /usr/bin/deluge-web
Restart=on-failure
[Install]
WantedBy=multi-user.target
